.group {
  margin: 1rem .35rem;
  height: calc(100% - 4rem);
  padding: 1rem;
  display: flex;
  flex-direction: column;

  .no-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;

    .illustration {
      width: 80%;
      height: 270px;
      background: url("../../../../resources/illustration/undraw_empty_xct9.svg");
      background-size: cover;
      margin: .75rem 0;
    }

    .text {
      width: 80%;
      text-align: center;
    }
  }

  .group-header {
    display: flex;
    align-items: center;

    .title {
      flex-grow: 1;
    }

    .group-action {
      display: flex;
      justify-content: space-between;

      .add-task-button-container {
        display: flex;
        align-items: center;
      }
    }
  }

  .tasks {
    flex-grow: 1;
    overflow: auto;
    height: 100px;

    .task-create-button {
      background: rgba(0,0,0,.7);
      border-radius: 5px;
      margin: .75rem 0;
      display: flex;
      align-items: center;
      padding: .75rem;
      justify-content: center;
      cursor: pointer;
      color: #01A8D5;
    }
  }
}