.app-theme-light {
  .new-task {
    background: rgba(241, 241, 241, 0.8) !important;
  }
}
.app-theme-dark {
  .new-task {
    background: rgba(0,0,0,.4) !important
  }
}

.new-task {
  padding: .5rem;
  margin: .3rem 0;

  .button-container {
    text-align: right;
    margin-bottom: .2rem;

    & > * {
      margin-left: .4rem;
    }
  }
}