.app-theme-light {
  .task {
    background: rgba(241, 241, 241, 0.8) !important;
  }
}
.app-theme-dark {
  .task {
    background: rgba(0,0,0,.4) !important;
  }
}

.task {
  padding: 1rem;
  margin: .3rem 0;

  .task-text {
    white-space: pre-wrap;
  }

  .task-header {
    display: flex;
    align-items: flex-start;

    .date {
      margin-bottom: .4rem;
      display: block;
      flex-grow: 1;

      .warn {
        color: rgb(241, 207, 56);
      }

      .archive-notice {
        color: rgb(31, 158, 231);
        font-weight: 400;
        margin-top: .2rem;
      }
    }
  }

  &.archived {
    .date {
      .archive-notice {
        font-size: .8rem;
      }
    }
  }
  &.expired {
    .task-header {
      align-items: center;
    }

    .date {
      color: #F50057;
      opacity: 1;
      line-height: normal;
      font-size: .73rem;
      font-weight: 700;
    }
  }
}