.about {
  padding-top: 10vh;
  max-width: 100vw;
  overflow-x: hidden;

  .about-paper {
    padding: 3rem;
    margin: 0 .5rem 10vh .5rem;

    pre {
      font-family: "Overpass Mono", "Consolas", monospace;
      font-weight: 600;
      font-size: 13px;
      line-height: 1.8;
      margin: 1rem 0;
      opacity: .7;
      max-width: 100%;
      overflow-x: auto;
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .about {
    padding-top: 2vh;
    .about-paper {
      padding: 1rem;
    }
  }
}