.search {
  flex-grow: 1;
  height: 100px;
  display: flex;
  flex-direction: column;
  margin-left: 250px;
  width: calc(100vw - 250px);

  .search-input-container {
    margin-bottom: 1.5rem;
    height: 13vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .loader-container {
    flex-grow: 1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    .search-result-skeleton {
      margin: .5rem;
      height: 160px;
      border-radius: 5px;
    }
  }

  .no-results {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;

    .illustration {
      background: url("../../../../resources/illustration/undraw_searching_p5ux.svg");
      background-size: cover;
      height: 300px;
      width: 420px;
      margin-bottom: 1.5rem;
    }
  }

  .results {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height: 0;
    & > * {
      margin: .5rem;
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .search {
    height: auto;
    margin-top: .5rem;
    margin-left: 0;
    width: 100vw;

    .search-input-container {
      flex-direction: column;
      margin-bottom: .5rem;
      height: auto;
    }
    .results {
      grid-template-columns: 1fr;
      height: 0;
    }

    .no-results {
      text-align: center;
      padding: 0 .5rem;

      .illustration {
        width: 400px;
        height: 290px;
      }
    }

    .loader-container {
      grid-template-columns: 1fr;
    }
  }
}