.get-started-intro {
  display: flex;
  flex-direction: column;

  .col-layout {
    display: flex;

    .landing-screenshot {
      background: url("../../../../resources/screenshots/landing-page.png");
      width: calc(30.5 * 16px);
      height: calc(30.5 * 9px);
      border-radius: 5px;
      background-size: cover;
      margin-left: .5rem;
    }
  }
}