.register {
  width: 100vw;
  height: calc(100vh - 64px);
  display: grid;
  grid-template-columns: 4fr 6fr;
  background: url("../../../../resources/background/jeremy-thomas-E0AHdsENmDg-unsplash.jpg");
  background-size: cover;

  .form-container {
    background: #202020de;
    padding: 10%;

    .form {
      width: 80%;
      margin: 3rem 0;
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .register {
    grid-template-columns: 1fr;
    .form-container .form {
      width: 100%;
    }
  }
}