.register {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 4fr 6fr;
  background: url("../../../../resources/background/dylan-alcock-4n53CxyQ7MA-unsplash.jpg");
  background-size: cover;

  .form-container {
    background: #202020c4;
    padding: 10%;

    .form {
      width: 80%;
      margin: 3rem 0;
    }
  }
}