.image-embed {
  height: calc(84px + .4rem);
  width: calc(84px + .4rem);
  border-radius: 5px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  margin: .25rem;
  position: relative;

  .spinner {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,.6);
    width: 100%;
    height: 100%;
    z-index: 5;
  }

  .hover-content {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 5px;
    opacity: 0;
    transition: 50ms all ease;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: .8rem;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.6);
    color: #EDEDED !important;
    cursor: pointer;
    z-index: 3;
  }

  &:hover {
    .hover-content {
      opacity: 1;
    }
  }
}