.archive {
  margin: 0 .8rem;
  flex-grow: 1;
  height: 100px;
  overflow: auto;
  display: flex;
  flex-direction: column;

  .header {
    margin: .75rem .5rem;
    display: flex;

    .space {
      flex-grow: 1;
    }
  }

  .empty-archives {
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 100%;

    .illustration {
      background: url("../../../../resources/illustration/undraw_dreamer_gxxi.svg");
      background-size: cover;
      height: 270px;
      width: 420px;
      margin-bottom: 1.5rem;
    }
  }

  .tasks {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    & > * {
      margin: .5rem;
    }
  }
}