.archive {
  margin: 0 .8rem;
  flex-grow: 1;
  height: 100px;
  overflow: auto;
  display: flex;
  flex-direction: column;

  .header {
    margin: .75rem .5rem;
    display: flex;

    .space {
      flex-grow: 1;
    }
  }

  .empty-archives {
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 100%;

    .illustration {
      background: url("../../../../resources/illustration/undraw_dreamer_gxxi.svg");
      background-size: cover;
      height: 300px;
      width: 450px;
      margin-bottom: 1.5rem;
    }
  }

  .tasks {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    .skeleton-task {
      height: 160px;
      border-radius: 5px;
    }

    & > * {
      margin: .5rem;
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .archive {
    .tasks {
      grid-template-columns: 1fr;
    }
    .empty-archives {
      .illustration {
        width: 400px;
        height: 230px;
      }
    }
    .header {
      margin-top: 1.25rem;
    }
  }
}